.service{
    background: black;
    width: 100%;
}

span{
    text-shadow: 0 0 15px black;
}

.service_bg img{
    object-fit: cover;
    width: 100%;
  
}

.service_bg span{
    position: absolute;
    top: 30vh;
    left: 28vw;
    color: aliceblue;
    font-size: 15em;
    font-weight: 700;
    z-index: 1;
    animation: bubbly-text 5s ease-in-out infinite;
}

.service_sub{
    position: relative;
    left: 5%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    color: aliceblue;
    text-shadow: 0 0 20px black;
    text-align: center;
}


.ss_header{
    font-size: 2em;
    font-weight: 400;
    width: 90%;
}

