.about_r{
    height: 100vh;
    width: 100%;
    background: var(--black);
    color: var(--white);
    display: flex;
  
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.left_about{
    display: flex;
    justify-content: center;
    flex: 60%;
    margin-left: 12vw;
}

.left_abt_info{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.left_abt_info span:nth-child(1){
    font-size: 5vw;
    font-weight: 300;
    margin-bottom: 1rem;
}

.left_abt_info span{
    font-size: 1.5rem;
    font-weight: 250;
    width: 100%;
}

.right_abt img{
    width: 15rem;
}