.feature{
    display: flex;
}

.left_feature{
    display: flex;
    flex: 40%;
    flex-direction: column;
}
.feature_title{
    position: sticky;
    top: 8rem;
    margin-bottom: 8rem;
    margin-left: 5rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
}

.feature_title span{
    color: black;
    text-shadow: none;
}

.feature_title span:nth-child(1){
    font-size: 1.5vw;
    margin-bottom: 3rem;
}
.feature_title span:nth-child(2){
    font-size: 2.5vw;
}
.feature_title span:nth-child(3){
    font-size: 3vw;
}

.right_feature{
    display: flex;
    flex: 60%;
    flex-direction: column;
}

.more_btn{
    height: 3.5vw;
    width: 9.5vw;
    background: var(--white);
    font-size: 1.2vw;
    margin-top: 1rem;
    color: var(--black);
    z-index: 1;
}
.btn_offset{
    z-index: 0;
    height: 3.5vw;
    width: 9.5vw;
    background: var(--black);
    border: 2px solid var(--black);
    transform: translate(1vw, -2.5vw);  
}

.more_btn:hover {
    background: #BE3455;
    transition: all 1s ease;
    color: aliceblue;

    /*transform: translate(1rem, 1rem);*/
}
.btn_click_animate{
    animation: btn_click 1s ease-in-out;
}

@keyframes btn_click {
    0% {
      transform: translate(0);  
    }
    50% {
      transform: translate(1vw, 1vw);
    }
    100% {
      transform: translate(0);    
    }
  }