.close_btn_con{
    position: relative;
    transform: scale(0.5);
}

.close_button {
    background: none;
    border: 0;
    box-sizing: border-box;
    color: transparent;
    cursor: pointer;
    font-size: 18px;
    left: 50%;
    letter-spacing: 1.5px;
    line-height: 90px;
    outline: none;
    overflow: hidden;
    padding: 10px 0 0;
    position: relative;
    text-transform: uppercase;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in;
    width: 100px;
  }
  
  .close_button::before,
  .close_button::after {
    background-color: var(--black);
    content: '';
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    transform-origin: center left;
    transition: all 0.2s ease-in;
    width: 141.4214px;
    z-index: -1;
  }
  
  .close_button::before {
    top: 0;
    transform: rotate(45deg);
  }
  
  .close_button::after {
    bottom: 0;
    transform: rotate(-45deg);
  }
  
  .close_button:hover {
    color: var(--white);
  }
  
  .close_button:hover::before,
  .close_button:hover::after {
    height: 50px;
    transform: rotate(0deg);
  }